global
    log stdout format raw local0

defaults
    log     global
    mode    http
    option  httplog
    option  dontlognull
    timeout connect 5s
    timeout client  50s
    timeout server  50s
    retries 3

frontend https_front
    bind *:8443 ssl crt /mnt/certs/haproxy.pem
    mode http
    http-request del-header x-forwarded-for
    http-request del-header x-forwarded-proto
    http-request del-header x-forwarded-host
    http-request del-header x-forwarded-port
    http-request del-header x-forwarded-server
    http-request del-header Forwarded
    default_backend keycloak_back

backend keycloak_back
    mode http
    balance roundrobin
    option forwarded host by by_port for
    option httpchk GET /health/ready
    http-check expect status 200

    # Sticky Sessions
    use-server keycloak1 if { req.cook(AUTH_SESSION_ID) -m end keycloak1 }
    use-server keycloak2 if { req.cook(AUTH_SESSION_ID) -m end keycloak2 }

    server keycloak1 keycloak1:8443 ssl verify required crt /mnt/certs/haproxy-internal.pem ca-file /mnt/certs/keycloak1-cert.pem check port 9000 check-ssl verify none inter 5s fall 3 rise 2
    server keycloak2 keycloak2:8443 ssl verify required crt /mnt/certs/haproxy-internal.pem ca-file /mnt/certs/keycloak2-cert.pem check port 9000 check-ssl verify none inter 5s fall 3 rise 2

listen stats
    bind *:8404
    stats enable
    stats uri /stats
    stats refresh 10s
