:root {
  --pf-v5-global--FontFamily--text: Comic Sans MS;
  --pf-v5-global--FontFamily--heading: Comic Sans MS;

  --pf-v5-global--BackgroundColor--dark-100: #2B9AF3;

  --pf-v5-global--Color--100: #004080;

}

.pf-v5-c-nav__list .pf-v5-c-nav__link {
  --pf-v5-c-nav__list-link--Color: #2B9AF3;
  --pf-v5-c-nav__list-link--m-current--Color: #004080;
}

.pf-v5-c-nav__simple-list .pf-v5-c-nav__link {
  --pf-v5-c-nav__simple-list-link--Color: #2B9AF3;
  --pf-v5-c-nav__simple-list-link--m-current--Color: #004080;
}
